@model Customer
@{
    ViewData["Title"] = "Accounts";
}

<div class="container my-5">
    <div class="text-center mb-4">
        <h1 class ="fw-bold text-teal">Make a Transaction</h1>
    </div>
    <div class="card shadow-sm border-0 rounded-4">
        <div class="fw-bold card-header text-white text-center fw-semibold" style="background-color: #0ed2f7; border-top-left-radius: 1rem; border-top-right-radius: 1rem;">
            Your Accounts
        </div>
        <div class="card-body bg-light rounded-bottom-4">
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountNumber)</th>
                            <th>@Html.DisplayNameFor(x => x.Accounts[0].AccountType)</th>
                            <th>@Html.DisplayNameFor(x => x.Accounts[0].Balance)</th>
                            <th>Deposit</th>
                            <th>Withdraw</th>
                            <th>Transfer</th>
                        </tr>
                     </thead>
                     <tvody>
                        @foreach (var account in Model.Accounts)
                        {
                            <tr>
                                <td class="fw-semibold">@account.AccountNumber</td>
                                <td>@account.AccountType</td>
                                <td class="text-success fw-semibold">$@account.Balance.ToString("N2")</td>


                                @* <td>@Html.DisplayFor(x => account.Balance)</td> *@
                                <td>
                                    <a class="btn btn-primary"
                                       asp-action="Deposit" asp-route-accountNumber="@account.AccountNumber">Deposit</a>
                                </td>
                                <td>
                                    <a class="btn btn-primary"
                                       asp-action="Withdraw" asp-route-accountNumber="@account.AccountNumber">Withdraw</a>
                                </td>
                                <td>
                                    <a class="btn btn-primary"
                                       asp-action="Transfer" asp-route-accountNumber="@account.AccountNumber">Transfer</a>
                                </td>
                            </tr>
                        }
                    </tvody>
                </table>
            </div>
        </div>
    </div>
</div>
