@model Customer
@{
    ViewData["Title"] = "Accounts";
}

<div>
    <h1 class="display-4">Welcome, @Model.Name</h1>

    <h3>Current Scheduled Payments</h3>

    @foreach (var account in Model.Accounts)
    {
        <h5>Account: @account.AccountNumber</h5>
        @if (account.BillPays != null && account.BillPays.Any())
        {
            <table class="table table-striped">
                <tr>
                    <th>Payee</th>
                    <th>Amount</th>
                    <th>Scheduled Date & Time</th>
                    <th>Period</th>
                    <th>Action</th>
                    <th>Status</th>
                </tr>
                @foreach (var bill in account.BillPays)
                {
                    <tr>
                        <td>@bill.Payee.Name</td>
                        <td>@($"${bill.Amount:0.00}")</td>
                        <td>@bill.ScheduleTimeUtc.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</td>
                        <td>@bill.Period</td>
                        <td>
                            <form asp-controller="BillPay" asp-action="Cancel" method="post">
                                <input type="hidden" name="id" value="@bill.BillPayID" />
                                <button type="submit" class="btn btn-danger btn-sm">
                                    Cancel
                                </button>
                            </form>
                        </td>
                        <td>@bill.Status</td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p><em>No scheduled payments for this account.</em></p>
        }


        <a asp-controller="BillPay"
           asp-action="Create"
           asp-route-accountNumber="@account.AccountNumber"
           class="btn btn-success">
            + Add Bill Payment
        </a>

        <hr />
    }

</div>
